@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/



body {
    opacity: .5;
    box-sizing: border-box;
    transform: scale(.5);
    display: flex;
}
::placeholder {
  	color: #ccc
}


